.o11y-radio-group.ant-radio-group {
	color: var(--text-vanilla-400);

	&.ant-radio-group-disabled {
		opacity: 0.5;
		pointer-events: none;
		cursor: not-allowed;
	}

	.view-title {
		display: flex;
		gap: var(--margin-2);
		align-items: center;
		justify-content: center;
		font-size: var(--font-size-xs);
		font-style: normal;
		font-weight: var(--font-weight-normal);
	}

	.view-title-container {
		display: flex;
		align-items: center;
		gap: 6px;
		justify-content: center;

		.icon-container {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	> button {
		border: 1px solid var(--l1-border);
		background: var(--l1-background);

		&:hover {
			color: var(--l1-foreground);
		}
		&::before {
			background: var(--l1-border);
		}

	.selected_view {
		&,
		&:hover {
			background: var(--bg-slate-300);
			color: var(--text-vanilla-100);
			border: 1px solid var(--bg-slate-400);
		}
		&::before {
			background: var(--bg-slate-400);
		}
	}
}

// Light mode styles
.lightMode {
	.o11y-radio-group {
		&.ant-radio-group-disabled {
			.tab,
			.selected_view {
				background: var(--bg-vanilla-200) !important;
				border-color: var(--bg-vanilla-400) !important;
				color: var(--text-ink-400) !important;
			}
			&::before {
				background: var(--l3-background);
				border-left: 1px solid var(--l1-border);
			}
		}

		&[disabled],
		&[data-disabled] {
			background: var(--l2-background) !important;
			border-color: var(--l1-border) !important;
			color: var(--l1-foreground) !important;

			&:hover {
				background: var(--l2-background) !important;
				border-color: var(--l1-border) !important;
				color: var(--l1-foreground) !important;
			}
		}
	}
}
